@{
    ViewData["Title"] = "Index";
}

@model List<Product>

<h1>Products</h1>

@if (TempData["status"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["status"]
    </div>
}

<a asp-controller="products" asp-action="add">Yeni Ürün Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Yayınlansın mı?</th>
            <th>Yayında ne kadar kalacak? (Ay)</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>@(item.IsPublish ? "Evet" : "Hayır")</td>
                <td>@item.Expire</td>
                <td>
                    <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Sil</a> @*Tag Helpers*@
                    <a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>