
@{
    ViewData["Title"] = "Index";
}

<h1>Ornek Controller, Index sayfası</h1>

@{
    var name = ViewBag.name;
    <p>@name</p>
}

<p>@name</p>

<p>@ViewBag.name</p>

<p>@ViewBag.Person.Id / @ViewBag.Person.Name / @ViewBag.Person.Surname </p>

<hr/>

<p>@ViewData["city"]</p>


@foreach (var item in ViewData["names"] as List<string>)
{
    <p>@item</p>
}